
<%= form_with method: :get, url: flights_path do |form| %>
    <%= form.label :departure_airport_id, "Departure airport: " %>
    <%= form.select(:departure_airport_id, @departure_airport_options, selected: params[:departure_airport_id])%>
    <%= form.label :arrival_airport_id, "Arrival airport: " %>
    <%= form.select(:arrival_airport_id, @arrival_airport_options, selected: params[:arrival_airport_id])%>
    <%= form.label :passenger_quantity, "Number of passenger(s): " %>
    <%= form.select(:passenger_quantity, [[1,1], [2,2], [3,3], [4,4]], selected: params[:passenger_quantity], default: [1,1])%>
    <%= form.label :departure_time, "Departure date: " %>
    <%= form.select(:departure_time, @departure_time_options, selected: params[:departure_time])%>
    <%= form.submit "Search" %>
<% end %>

<h2>Flights</h2>
<table style="text-align: center">
  <thead>
    <tr>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Departure Time</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
            <tr>
                <td><%= flight.departure_airport.name %></td>
                <td><%= flight.arrival_airport.name %></td>
                <td><%= flight.departure_time %></td>
                <td><%= link_to "Select", new_booking_path(flight_id: flight.id, passenger_quantity: params[:passenger_quantity] || 1) %></td>
            </tr>
    <% end %>
  </tbody>
</table>