<h2> Flight Information </h2>

<h3>Departure Airport: <%= @flight.departure_airport.name %></h3>
<h3>Arrival Airport: <%= @flight.arrival_airport.name %></h3>
<h3>Departure Date: <%= @flight.departure_time %></h3>

<%= form_with model: @booking, local: true do |form| %>
    <div class="p_form">
        <h4>Passengers:</h4>
        <%= form.fields_for :passengers do |passenger_form| %>
            <%= form.hidden_field :flight_id, value: @flight.id %>
            <%= form.hidden_field :passenger_quantity, value: params[:passenger_quantity] %>

            <%= render 'passenger_fields', f: passenger_form %>
        <% end %>
    </div>
    <div class="links">
        <%= link_to_add_association "Add Passenger", form, :passengers %>
    </div>
    <%= form.submit "Checkout" %>
<% end %>