<%= link_to "Home", root_path %>
<h2>Your Booking Information</h2>

<h3>Departure Airport: <%= @booking.flight.departure_airport.name %></h3>
<h3>Arrival Airport: <%= @booking.flight.arrival_airport.name %></h3>
<h3>Departure Date: <%= @booking.flight.departure_time %></h3>

<% @booking.passengers.each_with_index do |passenger, index| %>
        <div>
            <h4>Passenger No.<%= index + 1 %>:</h4>
            <h4>Name: <%= passenger.name %> </h4>
            <h4>Email: <%= passenger.email %> </h4>
        </div>
<% end %>